{% extends 'base.html' %} {% block content %}
<body class="page-sign">
  <!-- Set New Password -->
  <div class="card card-sign">
    <div class="card-header">
      <a href="#" class="header-logo mb-4">ucasports</a>
      <h3 class="card-title">Password Reset</h3>
      <p class="card-text">Please set new password.</p>
    </div>
    <!-- card-header -->
    <form action="" method="POST" name="login_form">
      {% csrf_token %}
      <div class="card-body">
        {% for field in form %}
        <div class="mb-3">
          <label class="form-label"
            >{{field.label}}
            <span class="text-danger">*</span>
          </label>
          {{field}}
        </div>
        {% endfor %}

        <!-- <div class="mb-4">
          <label class="form-label">New Password</label>
          <input type="text" class="form-control" placeholder="********" />
        </div>

        <div class="mb-4">
          <label class="form-label">Password confirmation</label>
          <input type="text" class="form-control" placeholder="********" />
        </div> -->

        <!-- <div class="mb-4">
          <label class="form-label d-flex justify-content-between"
            >Password <a href="">Forgot password?</a></label
          >
          <input type="password" class="form-control" placeholder="********" />
        </div> -->
        {% include '_partials/messages.html'%}

        <button type="submit" class="btn btn-primary btn-sign">Submit</button>

        <div class="divider"><span>or sign in with</span></div>

        <div class="row gx-2">
          <div class="col">
            <button class="btn btn-facebook">
              <i class="ri-facebook-fill"></i> Facebook
            </button>
          </div>
          <div class="col">
            <button class="btn btn-google">
              <i class="ri-google-fill"></i> Google
            </button>
          </div>
        </div>
        <!-- row -->
      </div>
    </form>
    <!-- card-body -->
    <div class="card-footer">
      Do you want to log in instead?
      <a href="{% url 'login' %}">Sign In</a>
    </div>
    <!-- card-footer -->
  </div>
  <!-- card -->
</body>
{% endblock content %}
